/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}


#nprogress .bar {
  background: linear-gradient(90deg, #3b82f6, #06b6d4, #8b5cf6);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

@media (prefers-color-scheme: dark) {
  #nprogress .bar {
    background: linear-gradient(90deg, #2563eb, #06b6d4, #3b82f6);
  }
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #3b82f6, 0 0 5px #8b5cf6;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

@media (prefers-color-scheme: dark) {
  #nprogress .peg {
    box-shadow: 0 0 10px #2563eb, 0 0 5px #06b6d4;
  }
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #3b82f6;
  border-left-color: #8b5cf6;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

@media (prefers-color-scheme: dark) {
  #nprogress .spinner-icon {
    border-top-color: #06b6d4;
    border-left-color: #2563eb;
  }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: fixed;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}